/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 400;
	cursor: pointer;
}

nav li:hover {
	color: #B1663C;
}

nav ul li img {
	height: 19.36px;
	width: 19.36px;
}

nav ul li a {
	text-decoration: none;
	color:black;
}

nav ul li a:hover {
	color: #B1663C;
}

#login-main {
	min-height: 75vh;
	display: flex;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction #designer-image {
	display: block;
	margin: auto;
	width: 80%;
	margin-bottom: 13px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* #portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
} */

.filters {
	margin:auto;
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	margin-bottom: 51px;
	max-width: 50%;

}

.btn-filter {
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: #ffffff00;
	color: #1D6154;
	font-weight: 700;
	font-family: 'Syne';
	font-size: 16px;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	min-width: 100px;
}

.btn-filter:hover, .btn-gilter:active{
	background-color: #1D6154;
	color: white;
}

button.active {
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact, #login {
	width: 50%;
	margin: auto;
}

#contact > *, #login > *{
	text-align: center;

}

#contact h2, #login h2 {
	margin-bottom: 20px;
}

#contact form, #login-inputs, #add-image-form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login-inputs input, .submit-button, #add-image-form input, #add-image-form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login-inputs label, #add-image-form label{
	margin: 2em 0 1em 0;
}

#login-inputs p {
	text-align: center;
	text-decoration: underline;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.submit-button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	min-width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#add-image-form .submit-button{
	background-color: #A7A7A7;
	font-size: 14px;
	width: 237px;
}

footer {
	background-color: white;
	min-width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);

}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	height: 60px;
}


#edit-mode {
	background-color: black;
	color: white;
	display: flex;
	height: 39px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 9px;
	min-width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
}

#edit-mode button {
	border-radius: 60px;
	background-color: white;
	height: 39px;
	padding: 11px 23px;
	border: none;
	margin-left: 12px;
}

.error-message {
	color: red;
	margin-top: 20px ;
}

.modify-button {
	height: 18px;
	width: 18px;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-left: 57px;
	cursor: pointer;
}

.modify-button a {
	text-decoration: none;
	color: black;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

#portfolio-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 51px;
}

dialog {
	border-radius: 10px;
	border: none;
	width: 558px;
	padding: 32px 36px;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.3);
}

dialog #close-modal {
	float: right;
}

.modal-content {
	padding: 28px 69px;
	display: flex;
	flex-direction: column;
}

dialog h2 {
	color:black;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	margin: 0px auto 46px auto;
}

.edit-gallery {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6.3px;
	grid-row-gap: 10.5px;
}

.edit-gallery img {
	height: 104px;
}

hr {
	border: 1px solid #B3B3B3;
	width: 100%;
	margin: 47px auto 31px auto;
}

.modal-content button {
	margin:auto;
}

.modal-content span {
	margin: 23px auto 0px auto;
	color: #D65353;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
}

.edit-icons {
	position: relative;
}
.bin-icon, .move-icon {
	position:absolute;
	width: 17px;
	bottom: 55px;
}

.bin-icon {
	right: 5px;
}

.move-icon {
	right: 25px;
	opacity: 0;

}

figure:hover .move-icon {
	opacity:1;
}

.add-image-wrapper {
	background-color: #E8F1F7;
	display:flex;
	flex-direction: column;
	padding: 18px 120px;
	max-height: 170px;
}

.add-image-wrapper img {
	height: 46px;
	padding-top: 10px;
	margin: auto;
}

.add-image-wrapper label {
	margin: 21px auto 7px auto;
	background: #CBD6DC;
	border-radius: 50px;
	border: none;
	padding: 10px 33px;
	color: #306685;
}

.add-image-wrapper p {
	font-weight: 400;
	font-size: 10px;
	color: #444444;
	margin: auto;
}

#new-image {
	height: 170px;
	padding: 0 !important;

}

#category, #titre {
	font-weight: 400;
	font-size: 14px;
	font-family: 'Work Sans';
	color: #444444;
	padding: 0px 21px 0px 16px;
}

